# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environment files
.env
.env.local

# Editor
.idea
*.swp
*.swo
.vscode

# Backend (Rails)
backend/tmp
backend/log

# Frontend
frontend/node_modules
frontend/dist

# Native macOS
macos/.build/
macos/dist/
